.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://wallpaperaccess.com/full/2629319.png);
    background-size: cover;
}

.weather{
    background: white;
    border-radius: 32px;
    box-shadow: 0 0 16px rgb(0, 0, 0, 0.5);
}
